.title {
  margin: 2rem;
  text-align: center;
}

.detail-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 1rem;
  margin-top: 1rem;
}

.form-container,
.table-container {
  display: flex;
  justify-content: center;
  margin: auto;
}

.form {
  margin-top: 2rem;
  padding: 1rem;
  width: 20%;
  border: 1px solid #d6d4d4;
}

.table {
  margin-top: 1rem;
}

.no-data-msg {
  margin: 2rem;
}
